*{
   box-sizing: border-box;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lis{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
.lis li:hover{
    color:rgb(227, 127, 5);
    text-decoration: underline;
}
.icon>a{
    gap: 30px;
    padding: 20px;
    text-decoration: none;
    color: black;
}
.edg span:hover{
     color: rgb(227, 127, 5);
}




.main-sec{
    display: flex;
    background-color: #f9fafa;
    border: 2px solid rgb(223, 229, 232);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.sec1{
    width: 100%;
    max-width: 50%;
}
.title{
    font-size: 30px;
}
.para{
    font-size: 15px;
}
.btn{
    display: flex;
    gap: 10px;
}
.sec2{
    width: 100%;
    max-width: 50%;
}
.sec2 img{
    width: 100%;
}


.main-sec2{
    background-color: #f9fafa;
    border: 2px solid rgb(217, 226, 230);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.main-sec2 h2{
    font-size: 30px;
}
.main-sec2 p{
    font-size: 20px;
}

.b-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.box{
    max-width: 33.33%;
    color: brown;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    flex: 0 0 calc(33.33% - 20px);
}
.box:hover{
    box-shadow: 10px 10px 5px 12px rgb(206, 220, 224);
}



.main-sec3{
    display: flex;
    background-color: #f9fafa;
    border: 2px solid rgb(223, 229, 232);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    gap: 100px;
}
.sc1{
    width: 100%;
    max-width: 50%;
}
.sc1 img{
    width: 100%;
}
.sc2{
    width: 100%;
    max-width: 50%;
}
.title{
    font-size: 30px;
}
.para{
    font-size: 15px;
}
.btn{
    display: flex;
    gap: 10px;
}



.main-sec4{
    background-color: #f9fafa;
    border: 2px solid rgb(217, 226, 230);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.hed h1{
    text-align: center;
    font-size: 30px;
}
.b-box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b-b{
    max-width: 33.33%;
    border: 2px solid rgb(217, 226, 230);
    font-size: 20px;
    text-align: center;
    border-radius: 19px;
    margin: 10px;
    padding: 10px;
    flex: 0 0 calc(33.33% - 20px);
}
.b-b:hover{
    box-shadow: 10px 10px 5px 12px rgb(206, 220, 224);
}
.b-b img{
    border: 0px solid black;
    border-radius: 10px;
}
.b-b img{
    box-shadow : 8px 8px 8px rgb(212, 212, 212);
}



.te{
    font-size: 30px;
    text-align: center;
}




.main-sec5{
    background-color: #f9fafa;
    border: 2px solid rgb(217, 226, 230);
    border-radius: 10px;
    margin-left: 70px;
    margin-right:70px;
    padding: 80px;
    display: flex;
}
.de-img img{
    border-radius: 50%;
    border:7px solid skyblue;
    width: 100%;
    max-width: 50%;
}
.de-img img:hover{
    border:8px solid orange;
}
.s-tion2{
    width: 100%;
    max-width: 50%;
}
.de-name i{
   font-size: 30px;
}
.de-par p{
     font-size: 20px;
}



button{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 13px;
    text-align: center;
}
button:hover{
    background-color: gray;
    color: white;
}


.main-sec7{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
.test-btn-1 i{
    border-radius: 50%;
    font-size: 50px;
    background-color: skyblue;
}
.test-btn-2 i{
    border-radius: 50%;
    font-size: 50px;
    background-color: skyblue;
}
.test-btn-1 i:hover{
    background-color: #f89646;
}
.test-btn-2 i:hover{
    background-color: #f89646;
}



.main-sec8{
    background-color: #f9fafa;
    border: 2px solid rgb(217, 226, 230);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.input-box input{
    width: 90%;
    padding: 15px;
    margin: 20px;
}
.btn-2 button{
    background-color: skyblue;
    align-items: center;
    width: 100px;
    padding: 15px;
    margin: 20px;
}
.sec-container{
    display: flex;
    padding: 20px;
}
.form-container{
    width: 100%;
    max-width: 50%;
}
.input-box input:hover{
    background-color: rgb(230, 229, 229);
}
.google-map{
    width: 100%;
    max-width: 50%;
    padding-top: 25px;
}



.footer{
    background-color: #f9fafa;
    border: 2px solid rgb(217, 226, 230);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.footer-icon{
    display: flex;
    justify-content: space-evenly;
}
.footer-container{
    background-color: #191E1F;
}
.footer-icon .icon1{
    color: #f9fafa;
    font-size: 20px;
}
.footer-icon .icon1 i:hover{
    color: #f89646;
}
.footer-icon .icon1 span:hover{
    color: #f89646;
}
.footer1 h2{
    color: #f9fafa;
}
.ancor-foot a{
   text-decoration: none;
   color: #f9fafa;
}
.foot2 a{
    color: #f9fafa;
    text-decoration: none;
}
.ancor-foot{
    display: flex;
    gap: 20px;
}
.foot1 a:hover{
    color: #f89646;
}
.foot2 a:hover{
    color: #f89646;
}
.footer2 h2{
    color: #f9fafa;
}
.foot-container2{
    display: flex;
    justify-content: space-around;
}
.foot-box1 img{
    width: 80%;
    margin-top: 11px;
    margin-left: 11px;
}
.foot-box1{
    background-color: #f9fafa;
    height: 100px;
    width: 100px;

}
.foot-box1:hover{
    background-color: rgb(199, 194, 194);
}
.foot-box2 img{
    width: 80%;
    margin-top: 11px;
    margin-left: 11px;
}
.foot-box2{
    background-color: #f9fafa;
    height: 100px;
    width: 100px;
}
.foot-box2:hover{
    background-color:rgb(199, 194, 194) ;
}
.footer-boxes{
    display: flex;
    gap: 20px;
}
.boxicon-icon{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.boxicon-icon i{
    color: #6bb7be;
}
.boxicon1{
    border: 2px solid  #6bb7be;
    padding: 10px;
    border-radius: 4px;
}
.boxicon1 i:hover{
    color: #f89646;
}
.boxicon1:hover{
    border: 2px solid #f89646;
}
.footer3 h3{
    color: #f9fafa;
    margin-left: 20px;
}
.foot-container2{
    margin-top: 25px;
}